# X.509 Certificate options
#
# DN options

# The organization of the subject.
organization = SB

# The organizational unit of the subject.
unit = sandbox

# The location of the subject.
location = virt-lab

# The state of the certificate owner.
state = UP

# The country of the subject. Two letter code.
country = US

# The common name of the certificate owner.
cn = "shortname"

# A user id of the certificate owner.
#uid = "scertowner"

# The serial number of the certificate. Should be incremented each time a new certificate is generated.
serial = 102

# In how many days, counting from today, this certificate will expire.
expiration_days = 365

# X.509 v3 extensions

# DNS name(s) of the server
dns_name = "fqdn here"


# (Optional) Server IP address
ip_address = "192.168.X.X"

# Whether this certificate will be used for a TLS server or a TLS client
tls_www_server
tls_www_client

# Whether this certificate will be used to encrypt data (needed
# in TLS RSA ciphersuites). Note that it is preferred to use different
# keys for encryption and signing.
#encryption_key
